@import url('https://fonts.googleapis.com/css?family=Freckle+Face&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang&display=swap');
.App {
min-height: 100vh;
background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
font-family: 'Freckle Face', cursive;

}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;

  margin-bottom: 100px;

}

.tuff {
  width: 60px;
  height: 60px;
  padding-top: 25px;
  margin-right: 15px;
  
}

.container {
  display: flex;
  flex-direction: row;
 
}

.tuff-logo {


  margin-right: 0px;

  font-size: 50px;
}

.search-bar{
  width: 25%;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-right: 20px;

  margin-bottom: 25px;

  box-shadow: 7px 7px 7px  	gray;

  background-color: white;
  opacity: 0.6;
}


p {
  font-size: 25px;
}

.search-button {
  background: black;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 	gray;
  
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  
}